@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.image-div{
    width:40%;
    height: 400px;
}


.name-div{
    color: #E1F0DA;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1620e4b4;
    font-family: "Audiowide";
    text-shadow: 2px 2px 6px rgb(168, 168, 138) ;
}

.hello-text{

    color: #F9F7C9;
}

.text {
    color: #92C7CF;
}

.greet-desc-div{
    width: 650px;
}

.btn1{
    border-width: 3px;
    background-color:#C499F3;
    border-color: #7D0A0A;
    color:#0F1035;
}

.btn1:hover{
    border-width: 3px;
    background-color:#F5CCA0;
    border-color: #DC8686;
    color:#092635;
}


.btn2{
    border-width: 2px;
    background-color:transparent;
    border-color: #FED9ED;
    color:#FED9ED;
}

.btn2:hover{
    border-width: 3px;
    background-color:#FFF2D8;
    border-color: #3E3232;
    color:#000000;
}